[submodule "envsetup"]
	path = envsetup
	url = https://github.com/Spidey01/envsetup.git
[submodule "vendor/cppunit"]
	path = vendor/cppunit
	url = git://anongit.freedesktop.org/git/libreoffice/cppunit/
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "vendor/libarchive"]
	path = vendor/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "vendor\\vcpkg"]
	path = vendor/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "sxelog"]
	path = sxelog
	url = https://github.com/Spidey01/sxelog.git
